.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0.0rem;
}
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.389), rgba(0, 0, 0, 0.617)),
              url('photo-1569241095162-e3b9a583b9d3.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white; /* Hace que el texto contraste con el fondo oscuro */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.producto {
  flex: 1 1 calc(48% - 10px); /* Para que quepan 2 por fila */
  background-color: #ffffff00;
  border: 1px solid #f3e8e888;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(230, 228, 228, 0.452);
  text-align: center;
  padding: 12px;
  max-width: 220px; /* Evita que se pasen en pantallas chicas */
  box-sizing: border-box;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.precio {
  font-weight: bold;
  color: #007bff;
  margin: 8px 0;
}

.boton {
  background-color: #25d3652e;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

/* 3 productos por fila en pantallas medianas para arriba */
@media (min-width: 768px) {
  .producto {
    flex: 1 1 calc(31% - 10px);
    max-width: 250px;
  }
}
.encabezado {
  display: flex;
  align-items: center;
  gap: 17px; /* Controla la separaci칩n entre logo y texto */
  background-color: rgba(0, 0, 0, 0.508);
  padding: 10px;
}

.logo {
  height: 80px; /* Ajust치s el tama침o del logo */
   border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 14, 14);
  background-color: rgba(255, 4, 4, 0.181);
}

.titulo {
  font-size: 50px;
  color: white;
  margin: 0;
  gap: 5;
}

.redes-fijas {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.redes-fijas img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.redes-fijas img:hover {
  transform: scale(1.1);
}
.redes-sociales {
  position: fixed;
  bottom: 20px; /* M치s abajo de la barra */
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px;
  z-index: 999;
  background: rgba(11, 11, 10, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.redes-sociales a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.etiqueta-agotado {
  position: absolute;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  top: 10px;
  left: 10px;
  font-size: 14px;
  z-index: 10;
}

/* Asegurate que el contenedor tenga position: relative */
.producto {
  position: relative;
}

